
html, body {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    box-sizing: border-box; /* Asegura que los tamaños incluyan padding y border */
    height: 100vh; /* Ajusta la altura del body al 100% del viewport */
    width: 100vw; 
    overflow: hidden; /* Evita scroll si no debería existir */
}

.container {
    display: flex; /* Flexbox para distribución */
    margin: 0; /* Asegura que no haya márgenes */
    padding: 0; /* Elimina rellenos internos */
    height: 100vh; /* Asegura que el contenedor ocupe todo el viewport */
    width: 100vw; /* Asegura que ocupe todo el ancho */
    box-sizing: border-box; /* Ajusta los bordes y paddings dentro del tamaño */
    max-width: 100%; /* ESTE ERAAAAAAAAAAA  Elimina la restricción de ancho máximo */
    margin-left: 0; /* Quita márgenes laterales */
    margin-right: 0;
    
}
  
  /* Barra lateral */
  .sidebar {
    flex: 0 0 auto; /* Ancho fijo que no colapsa */
    height: calc(100vh - 60px);
    background-color: #ffffff;
    overflow-y: auto; /* Scroll interno si es necesario */
    min-width: 100px; /* Ancho mínimo */
    max-width: 300px; /* Ancho máximo */
    width: 20%; /* Ancho estándar */
    padding: 10px;
    margin-top: 0px;
    margin-left: 0;
}

@media (max-width: 768px) {
    .sidebar {
        width: 15%; /* Barra más angosta en dispositivos pequeños */
    }
}

  .main-content {
    flex: 1; /* Ocupa el espacio restante */
    height: calc(100vh - 60px);
    position: relative;
    overflow: hidden;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
  }

  

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    height: 60px; /* Altura fija */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }


 
  #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

a {
color:rgb(34, 63, 27);
text-decoration: none;
transition: color 0.3s ease, transform 0.2s ease;
}

/* Cambia el color del texto de los span dentro de la barra de navegación */
nav.navbar span {
color: rgb(34, 63, 27);/* Elige el color que desees */
}

/* Opcional: si quieres personalizar por separado ciertos estilos */
nav.navbar span.fw-light {
 color: rgb(34, 63, 27); /* Estilo específico para el span con esta clase */
 margin-left: 10px;
 font-size: 25px;

}

nav.navbar span.fw-semibold {
color: rgb(34, 63, 27); /* Estilo específico para el span con esta clase */
margin-left: 10px;  
margin-right: 10px;  
font-size: 25px; 
}

a:hover {
background-color: #DAFF8B ; 
color: rgb(34, 63, 27);
transform: scale(1.1); /* Aumenta el tamaño ligeramente */
}

.lang {
     display: none;
}

/* Mostrar únicamente los elementos en español al cargar la página */
.lang[data-lang="es"] {
     display: block;
}
        


  
.sidebar-button {
    display: flex;
    word-wrap: break-word;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    height: auto; /* Permite que los botones sean más altos si el texto ocupa más de una línea */
    font-size: 0.9rem; /* Reduce ligeramente el tamaño del texto para pantallas pequeñas */
    border-radius: 5px !important;
}
  
.text-wrap {
    word-wrap: break-word; /* Asegura que el texto se ajuste a varias líneas si es necesario */
}

.sidebar-button:hover {
background-color: #DAFF8B ; /* Color de fondo al pasar el cursor */
color: rgb(34, 63, 27); /* Cambia el color del texto al pasar el cursor */

} 


.btn.active {
background-color: #a6c5a7;
color: rgb(34, 63, 27);
border: 2px solid transparent;
}

.control-group {
    margin-bottom: 10px;
}

.control-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 1px;
}


.sidebar-heading {
padding: 10px;
font-size: 10px; /* Personaliza el tamaño */
font-weight: 400; /* Peso de fuente */
color:#889689; /* Color gris */
opacity: 0.55;
margin-bottom: 1px;
}


 /* los dos que siguen ajustan el margen de los controles  */
.leaflet-control-container {
padding: 15px; /* Ajusta el espacio interno */
}

.leaflet-top.leaflet-left {
      top: 5px;
      left: 5px;
}

.leaflet-draw-actions li {
    list-style-type: none;  /* Elimina el punto o marcador de la lista */
    margin: 0;              /* Elimina el margen del <li> */
    padding: 0;             /* Elimina el relleno del <li> */
}

.leaflet-draw-actions li a {
    list-style-type: none;  /* Elimina el punto o marcador de la lista */
    margin: 0;              /* Elimina el margen del <li> */
    padding: 10;  
    text-decoration: none; /* Quitar subrayado */
    color: #007bff; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    display: block; /* Hacer que el enlace ocupe todo el área del `<li>` */
}


.leaflet-draw-actions {
    margin-top: 10px;
    padding: 0 !important;   /* Elimina el relleno */
    font-size: 10px;
    cursor: pointer;   
}


/* eliminar texto de los BOTONES DE DIBUJO */  
.leaflet-draw-draw-rectangle .sr-only {
display: none;
}
.leaflet-draw-draw-circle .sr-only {
display: none;
}
.leaflet-draw-draw-polygon .sr-only {
display: none;
}
.leaflet-draw-draw-marker .sr-only {
display: none;
}
.leaflet-draw-draw-polyline .sr-only {
display: none;
}
.leaflet-draw-draw-circlemarker .sr-only {
display: none;
}


              
/* poner svg a los BOTONES DE DIBUJO */ 
.leaflet-draw-draw-rectangle {
    background-image: url('SVG/square.svg');
    display: inline-block; /* Asegura que el elemento sea un bloque en línea */
    width: 30px;           /* Ajusta el tamaño del botón */
    height: 30px;          /* Ajusta el tamaño del botón */
    text-align: center;    /* Centra el contenido en el contenedor */
}

.leaflet-draw-draw-circle {
    background-image: url('SVG/circle.svg');
    display: inline-block; /* Asegura que el elemento sea un bloque en línea */
    width: 30px;           /* Ajusta el tamaño del botón */
    height: 30px;          /* Ajusta el tamaño del botón */
                text-align: center;    /* Centra el contenido en el contenedor */
}

.leaflet-draw-draw-polygon {
    background-image: url('SVG/pentagon.svg');
    display: inline-block; /* Asegura que el elemento sea un bloque en línea */
    width: 30px;           /* Ajusta el tamaño del botón */
    height: 30px;          /* Ajusta el tamaño del botón */
    text-align: center;    /* Centra el contenido en el contenedor */
}

.leaflet-draw-draw-marker {
    background-image: url('SVG/geo-alt.svg');
    display: inline-block; /* Asegura que el elemento sea un bloque en línea */
    width: 30px;           /* Ajusta el tamaño del botón */
    height: 30px;          /* Ajusta el tamaño del botón */
    text-align: center;    /* Centra el contenido en el contenedor */
}

.leaflet-draw-draw-polyline {
    background-image: url('SVG/polyline.svg');
    display: inline-block; /* Asegura que el elemento sea un bloque en línea */
    width: 10px;           /* Ajusta el tamaño del botón */
    height: 10px;          /* Ajusta el tamaño del botón */
    background-size: cover; /* Asegura que el icono ocupe todo el contenedor */
    text-align: center;    /* Centra el contenido en el contenedor */
}

.leaflet-draw-draw-circlemarker {
    background-image: url('SVG/pin.svg');
    display: inline-block; /* Asegura que el elemento sea un bloque en línea */
    width: 10px;           /* Ajusta el tamaño del botón */
    height: 10px;          /* Ajusta el tamaño del botón */
    
    text-align: center;    /* Centra el contenido en el contenedor */
}





.leyenda span {
    margin-top: 5px;
    padding-top: 0px;
    font-family: 'Circular Sdt', sans-serif;
    color: rgb(53, 63, 51);
    font-size: 12px; /* Asegúrate de incluir los textos dentro de las leyendas */
}
