

body {
    margin: 0;
    padding-top: 56px;
    font-family: 'Circular Sdt', sans-serif;
    display: flex;
    height: 100vh;;
    color:rgb(34, 63, 27);

}

a {
color:rgb(34, 63, 27);
text-decoration: none;
transition: color 0.3s ease, transform 0.2s ease;
}

/* Cambia el color del texto de los span dentro de la barra de navegación */
nav.navbar span {
color: rgb(34, 63, 27);/* Elige el color que desees */
}

/* Opcional: si quieres personalizar por separado ciertos estilos */
nav.navbar span.fw-light {
 color: rgb(34, 63, 27); /* Estilo específico para el span con esta clase */
 margin-left: 10px;
 font-size: 25px;

}

nav.navbar span.fw-semibold {
color: rgb(34, 63, 27); /* Estilo específico para el span con esta clase */
margin-left: 10px;  
margin-right: 10px;  
font-size: 25px; 
}

a:hover {
background-color: #DAFF8B ; 
color: rgb(34, 63, 27);
transform: scale(1.1); /* Aumenta el tamaño ligeramente */
}

.lang {
     display: none;
}

/* Mostrar únicamente los elementos en español al cargar la página */
.lang[data-lang="es"] {
     display: block;
}
        
#sidebar {
  overflow-y: auto;
  height: 100vh; /* Ocupa todo el alto de la pantalla */
  
}

#map {
  height: 100vh; /* El mapa ocupa todo el alto de la pantalla */
}

.sidebar-button {
border-radius: 5px !important;

}

.sidebar-button:hover {
background-color: #DAFF8B ; /* Color de fondo al pasar el cursor */
color: rgb(34, 63, 27); /* Cambia el color del texto al pasar el cursor */

}       

.btn.active {
background-color: #a6c5a7;
color: rgb(34, 63, 27);
border: 2px solid transparent;
}

.control-group {
    margin-bottom: 10px;
}

.control-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 1px;
}


.sidebar-heading {
padding: 10px;
font-size: 10px; /* Personaliza el tamaño */
font-weight: 400; /* Peso de fuente */
color:#889689; /* Color gris */
opacity: 0.55;
margin-bottom: 1px;
}



 /* los dos que siguen ajustan el margen de los controles  */
.leaflet-control-container {
padding: 15px; /* Ajusta el espacio interno */
}

.leaflet-top.leaflet-left {
      top: 5px;
      left: 5px;
}


/* eliminar texto de los BOTONES DE DIBUJO */  
.leaflet-draw-draw-rectangle .sr-only {
display: none;
}
.leaflet-draw-draw-circle .sr-only {
display: none;
}
.leaflet-draw-draw-polygon .sr-only {
display: none;
}
.leaflet-draw-draw-marker .sr-only {
display: none;
}
.leaflet-draw-draw-polyline .sr-only {
display: none;
}
.leaflet-draw-draw-circlemarker .sr-only {
display: none;
}


              
/* poner svg a los BOTONES DE DIBUJO */ 
.leaflet-draw-draw-rectangle {
    background-image: url('/SVG/square.svg');
    display: inline-block; /* Asegura que el elemento sea un bloque en línea */
    width: 30px;           /* Ajusta el tamaño del botón */
    height: 30px;          /* Ajusta el tamaño del botón */
    text-align: center;    /* Centra el contenido en el contenedor */
}

.leaflet-draw-draw-circle {
    background-image: url('/SVG/circle.svg');
    display: inline-block; /* Asegura que el elemento sea un bloque en línea */
    width: 30px;           /* Ajusta el tamaño del botón */
    height: 30px;          /* Ajusta el tamaño del botón */
                text-align: center;    /* Centra el contenido en el contenedor */
}

.leaflet-draw-draw-polygon {
    background-image: url('/SVG/pentagon.svg');
    display: inline-block; /* Asegura que el elemento sea un bloque en línea */
    width: 30px;           /* Ajusta el tamaño del botón */
    height: 30px;          /* Ajusta el tamaño del botón */
    text-align: center;    /* Centra el contenido en el contenedor */
}

.leaflet-draw-draw-marker {
    background-image: url('/SVG/geo-alt.svg');
    display: inline-block; /* Asegura que el elemento sea un bloque en línea */
    width: 30px;           /* Ajusta el tamaño del botón */
    height: 30px;          /* Ajusta el tamaño del botón */
    text-align: center;    /* Centra el contenido en el contenedor */
}

.leaflet-draw-draw-polyline {
    background-image: url('/SVG/polyline.svg');
    display: inline-block; /* Asegura que el elemento sea un bloque en línea */
    width: 10px;           /* Ajusta el tamaño del botón */
    height: 10px;          /* Ajusta el tamaño del botón */
    background-size: cover; /* Asegura que el icono ocupe todo el contenedor */
    text-align: center;    /* Centra el contenido en el contenedor */
}

.leaflet-draw-draw-circlemarker {
    background-image: url('/SVG/pin.svg');
    display: inline-block; /* Asegura que el elemento sea un bloque en línea */
    width: 10px;           /* Ajusta el tamaño del botón */
    height: 10px;          /* Ajusta el tamaño del botón */
    
    text-align: center;    /* Centra el contenido en el contenedor */
}

.leaflet-draw-edit-edit,
.leaflet-draw-edit-remove {
display: none;
}



.leyenda span {
    margin-top: 5px;
    padding-top: 0px;
    font-family: 'Circular Sdt', sans-serif;
    color: rgb(53, 63, 51);
    font-size: 12px; /* Asegúrate de incluir los textos dentro de las leyendas */
}
